In [4]:
import pandas as pd

itemsOnTable = {'on':pd.Series(['Lamp','Chochlate','Phone','Bottle'], ['1','2','3','4']),
                'off':pd.Series(['Slippers','Medicine','Pages','Pillow'], ['1','3','4','5'])}

type(itemsOnTable)

dict

In [5]:
itemsOnTableDf = pd.DataFrame(itemsOnTable)
itemsOnTableDf

          on       off
1       Lamp  Slippers
2  Chochlate       NaN
3      Phone  Medicine
4     Bottle     Pages
5        NaN    Pillow

In [6]:
itemsOnTable = {'on':pd.Series(['Lamp','Chochlate','Phone','Bottle']),
                'off':pd.Series(['Slippers','Medicine','Pages','Pillow'])}

type(itemsOnTable)

dict

In [8]:
itemsOnTableDf = pd.DataFrame(itemsOnTable)
itemsOnTableDf

          on       off
0       Lamp  Slippers
1  Chochlate  Medicine
2      Phone     Pages
3     Bottle    Pillow

In [9]:
itemsOnTableDf.shape

(4, 2)

In [10]:
itemsOnTableDf.ndim

2

In [11]:
itemsOnTableDf.size

8

In [13]:
specificrows = pd.DataFrame(itemsOnTableDf, index =[2,3])
specificrows

       on     off
2   Phone   Pages
3  Bottle  Pillow

In [14]:
specificrowsandcolumn = pd.DataFrame(itemsOnTableDf, index =[2,3],columns=['on'])
specificrowsandcolumn

       on
2   Phone
3  Bottle